* {
  margin: 0 auto;
  padding: 0 auto;
  font-family: 'Didact Gothic', sans-serif;
}

body {
  background-color: rgb(238, 238, 238);  
}

p {
  background-color: white;
  width: 500px;
  height: 200px;
  margin: 20px;
  padding: 20px;
}

h1 {
  font-size: 24px;
  
}

h4 {
  font-size: 10px;
}

button {
  filter: brightness(90%);
  -webkit-text-fill-color: white;
  background-color: rgb(49, 47, 47);
  width: 80px;
  height: 25px;
  border-radius: 23px;
  margin: 12px;
}

.image-container {
  height: 200px;
  background-color: rgb(221, 225, 228);
  display: flex;
  justify-content: center;
  align-content: center;
}

img {
  height: 100%;
  margin: 0 auto;
}
