<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Matrix checker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css" />
</head>

<body>

  <div class="container">
    <h1 class="matrix-checker">Matrix checker</h1>
    <h5 id="line1">Check if your matrix is increasing!</h5>
    <h5 id="line2">Add a matrix and sit back while the evaluation happens.</h5>
    <h5 id="line3">Enter your matrix:</h5>

    <form class="my-form">
      <textarea name="matrix" id="text" cols="80" rows="14"></textarea>
      <button class="submit-button">Küldjed</button>
    </form>
    <h3 class="result-text">Result:</h3>
    <div class="result-message"></div>

  </div>
  <script src="../static/index.js"></script>

</body>

</html>