<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css" />
</head>

<body>

  <div class="container"></div>

  <form>
    <div class="div-1">
      <input type="text" name="firstname" id="id-input">
      <button id="submit" type="submit">Send</button>
    </div>
    <div class="div-2">
      <input type="number" name="id" hidden>
      <input type="text" name="name" >
      <input type="text" name="email" >
      <input type="number" name="candies_in_store" >
      <input type="number" name="phone_number" >
      <button id="modify" type="submit">Modify</button>

    </div>
  </form>

  </div>

  <script src="../static/index.js"></script>

</body>

</html>