<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Game</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan" rel="stylesheet">
  <link rel="stylesheet" type="text/css" media="screen" href="../static/game.css" />
  <script src="main.js"></script>
</head>

<body>

  <div class="main-container">

    <div class="score">
      <p>SCORE:</p>
      <div id="actual-points">0</div>
    </div>

    <div class="questions-container">
      <div class="question"></div>
      <button></button>
      <button></button>
      <button></button>
      <button></button>
    </div>

  </div>

</body>

</html>