body {
  min-width: 800px;
  max-width: 900px;
  background-color: beige;
  /* display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.main-container {
  display: flex;
  flex-flow: column;
  align-items: left;
  justify-content: center;
}

h1 {
  text-align: left;
  font-size: 66px;
  margin: 3%;
  margin-left: 0%;
}

.linkContainer {
 /*  display: flex;
  width: inherit; */
  padding: 10px;
  padding-left: 0%;
  /* justify-content: space-between;
  position: relative; */
}

a {
  padding: 3px;
  color: rgb(56, 56, 241);
  font-size: 34px;
  text-decoration: none;
  text-transform: uppercase;
}

table {
  /* position: relative; */
  background: white  
}

thead {
  background-color: black;
  color: white;
  font-size: 22px;
}

th {
  padding: 5%;
}

td {
  padding: 1%;
  font-size: 20px;
}

.price {
  width: 200px;
}
