body {
  min-width: 600px;
  max-width: 1200px;
  background-color: beige;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.main-container {
  display: flex;
  flex-flow: column;
  align-items: left;
  justify-content: center;  
}

h1 {
  text-align: left;
  font-size: 66px;
  margin: 3%;
}

.linkContainer {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 30px;  
  border-color: green;
  background-color: rgb(146, 153, 151);
  justify-content: space-between;
}

a {
  padding: 3px;
  color: rgb(12, 12, 66);
  font-size: 34px;
  text-decoration: none;
  text-transform: uppercase;
  
}

ul {
  display: flex;
  flex-flow: column;
}

li {
  list-style: none;
  font-size: 33px;
  padding: 5px;
}