body {
  background-color: rgb(67, 150, 233);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}
table {
  border-collapse: collapse;
  width: 600px;
  height: 400px;
  justify-content: center;
  align-items: center;
}

thead {
  color: rgb(213, 221, 229);
  background-color: rgb(27, 30, 36);
  text-align: left;
}

th {
  padding: 3%;
}

table td, table th {
  border: 1px solid rgb(193, 195, 208);
}

tbody {
  border-top: 5px solid rgb(193, 195, 208);
}

td {
  text-align: left;
  padding: 3%;
  color: rgb(102, 107, 132);
}
.Jan, .Mar, .May {
  background-color: rgb(235, 235, 235);
}

.Feb, .Apr {
  background-color: rgb(255, 255, 255);
}