.nav {
  width: 100%;
  height: 100px;
  background-color: rgb(176, 42, 255);
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.link {
  width: 100px;
  background-color: rgb(42, 234, 255);
  list-style: none;
  margin: 30px;
}

.container {
  width: 90%;
  height: 600px;
  display: flex;
  position: relative;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.main-content {
  background-color: rgb(255, 216, 42);
  position: relative;
  flex-grow: 2;
  order: 2;
  margin: 20px;
}

.not-main {
  background-color: rgb(81, 212, 0);
  position: relative;
  flex-grow: 1;
  margin: 20px;
}

.footer {
  background-color: rgb(204, 204, 204);
  position: relative;
  width: 87%;
  height: 100px;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;  
}