body{
  background: #eee;
}

.container{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.item{
  height: 150px;
  min-width: 150px;
  float: left;
}

.green{
  background: rgb(81, 212, 0);
}

.yellow{
  background: rgb(255, 214, 42);
}

.purple{
  background: rgb(176, 42, 255);
}